body {
    width: 960px;
    margin: 0 auto;
    color: white;
}

body, #add-new, .jumbotron {
    background: #1a2a6c; 
    background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); 
    background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); 
}
/* 
.container {
    background-color: green;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
} */

img {
    height: 200px;
    width: 300px;
}

#add-new {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px; 
}
 